<div class="sidebar">
  <div class="container sidebar-sticky">
    <a href="/" class="sidebar-pic">
      <img src="/assets/avatar.png">
    </a>
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <!--<p class="lead">{{ site.description }}</p>-->
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">主页</a>
      <a class="sidebar-nav-item{% if page.url == '/articles/' %} active{% endif %}" href="{{ '/articles/' }}">所有文章</a>
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="{{ '/about/' }}">关于</a>
    </nav>
  </div>
  <p class="sidebar-foot">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
</div>
